.main{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: space-between;
}

.form{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}